//----  --------------------------------------------------------------------------------------------------------
//
//  This file is part of Emerge Desktop.
//  Copyright (C) 2004-2010  The Emerge Desktop Development Team
//
//  Emerge Desktop is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 3 of the License, or
//  (at your option) any later version.
//
//  Emerge Desktop is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
//----  --------------------------------------------------------------------------------------------------------

#define UNICODE
#define _WINGDI_

#include "resource.h"
#include "../version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION COMMA_VERSION
 PRODUCTVERSION COMMA_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
 FILEFLAGS VS_FF_DEBUG
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "CompanyName", "The Emerge Desktop Development Team"
            VALUE "FileDescription", "emergeDesktop - desktop applet for Emerge Desktop"
            VALUE "FileVersion", POINT_VERSION
            VALUE "InternalName", "emergeDesktop"
            VALUE "LegalCopyright", "Copyright (C) 2004-2010"
            VALUE "OriginalFilename", "emergeDesktop.exe"
            VALUE "ProductName", "emergeDesktop"
            VALUE "ProductVersion", POINT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#ifdef __GNUC__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "emergeDesktop.exe.manifest"
#endif

IDI_DEFAULT	ICON	"icons/emerge.ico"
IDI_ADD		ICON	"icons/add.ico"
IDI_EDIT	ICON	"icons/edit.ico"
IDI_DEL		ICON	"icons/del.ico"
IDI_SAVE	ICON	"icons/save.ico"
IDI_ABORT	ICON	"icons/abort.ico"
IDI_BROWSE	ICON	"icons/folder.ico"

IDD_SETTINGS DIALOGEX 0, 0, 170, 165
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Desktop Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	GROUPBOX	"Desktop Borders",IDC_STATIC1,5,5,160,80,WS_GROUP
	LTEXT		"Top:",IDC_STATIC2,60,17,25,8
	EDITTEXT	IDC_TOPBORDER,85,15,35,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_TOPUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT|UDS_NOTHOUSANDS,0,0,10,12
	LTEXT		"Left:",IDC_STATIC3,10,37,25,8
	EDITTEXT	IDC_LEFTBORDER,35,35,35,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_LEFTUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT|UDS_NOTHOUSANDS,0,0,10,12
	LTEXT		"Right:",IDC_STATIC4,100,37,25,8
	EDITTEXT	IDC_RIGHTBORDER,125,35,35,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_RIGHTUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT|UDS_NOTHOUSANDS,0,0,10,12
	LTEXT		"Bottom:",IDC_STATIC5,60,57,25,8
	EDITTEXT	IDC_BOTTOMBORDER,85,55,35,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_BOTTOMUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT|UDS_NOTHOUSANDS,0,0,10,12

  CONTROL		"Apply to Primary Monitor Only",IDC_BORDERPRI,"Button",BS_MULTILINE|BS_AUTOCHECKBOX|WS_TABSTOP|BS_TOP,10,70,125,10

	GROUPBOX	"Menu Opacity",IDC_STATIC6,5,87,160,40,WS_GROUP
	CONTROL		"AlphaSlider",IDC_SLIDER,"msctls_trackbar32",TBS_NOTICKS|TBS_TOP|
			WS_TABSTOP,10,98,125,26
	EDITTEXT	IDC_MENUALPHA,140,105,20,10,ES_AUTOHSCROLL|ES_NUMBER

	CONTROL		"Menu Icons",IDC_MENUICONS,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,5,130,50,10

	PUSHBUTTON	"&OK",IDOK,5,145,70,14
	PUSHBUTTON	"&Cancel",IDCANCEL,95,145,70,14
END

IDD_MENU DIALOGEX 0, 0, 205, 230
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Menu Editor"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL		"MenuTree",IDC_MENUTREE,"SysTreeView32",TVS_HASBUTTONS|TVS_HASLINES|TVS_LINESATROOT|TVS_SHOWSELALWAYS|WS_BORDER|WS_TABSTOP,5,5,195,110

	PUSHBUTTON	"",IDC_ADDITEM,5,120,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"",IDC_EDITITEM,23,120,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"",IDC_DELITEM,41,120,16,14,BS_ICON|BS_FLAT

	PUSHBUTTON	"",IDC_SAVEITEM,166,120,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"",IDC_ABORTITEM,184,120,16,14,BS_ICON|BS_FLAT

	LTEXT		"Name:",IDC_NAMETEXT,5,142,25,8
	EDITTEXT	IDC_ITEMNAME,65,140,135,12,ES_AUTOHSCROLL
	LTEXT		"Type:",IDC_TYPETEXT,5,157,25,8
	COMBOBOX	IDC_ITEMTYPE,65,155,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT		"Value:",IDC_VALUETEXT,5,173,25,8
	EDITTEXT	IDC_ITEMVALUE,65,171,117,12,ES_AUTOHSCROLL
	PUSHBUTTON	"",IDC_ITEMBROWSE,184,170,16,14,BS_ICON|BS_FLAT
	COMBOBOX	IDC_ITEMCOMMAND,65,170,114,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	COMBOBOX	IDC_ITEMSPECIALFOLDERS,65,170,114,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT       "Working Directory:",IDC_WORKINGDIRTEXT,5,188,60,8
	EDITTEXT    IDC_WORKINGDIR,65,186,117,12,ES_AUTOHSCROLL
	PUSHBUTTON  "",IDC_DIRBROWSE,184,185,16,14,BS_ICON|BS_FLAT

	PUSHBUTTON	"&OK",IDOK,5,210,70,14
	PUSHBUTTON	"&Cancel",IDCANCEL,130,210,70,14
END

IDD_ITEMEDIT DIALOGEX 0, 0, 205, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Menu Item"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Name:",IDC_NAMETEXT,5,5,25,8
	EDITTEXT	IDC_ITEMNAME,65,5,135,12,ES_AUTOHSCROLL
	LTEXT		"Type:",IDC_TYPETEXT,5,22,25,8
	COMBOBOX	IDC_ITEMTYPE,65,20,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT		"Value:",IDC_VALUETEXT,5,38,25,8
	EDITTEXT	IDC_ITEMVALUE,65,36,117,12,ES_AUTOHSCROLL
	PUSHBUTTON	"",IDC_ITEMBROWSE,184,35,16,14,BS_ICON|BS_FLAT
	COMBOBOX	IDC_ITEMCOMMAND,65,35,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	COMBOBOX	IDC_ITEMSPECIALFOLDERS,65,35,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT       "Working Directory:",IDC_WORKINGDIRTEXT,5,53,60,8
	EDITTEXT    IDC_WORKINGDIR,65,51,117,12,ES_AUTOHSCROLL
	PUSHBUTTON  "",IDC_DIRBROWSE,184,50,16,14,BS_ICON|BS_FLAT

	PUSHBUTTON	"&OK",IDOK,5,75,70,14
	PUSHBUTTON	"&Cancel",IDCANCEL,130,75,70,14
END

