/*!
  @file emergeStyleEngine.rc
  @brief resource file for emergeStyleEngine
  @author The Emerge Desktop Development Team

  @attention This file is part of Emerge Desktop.
  @attention Copyright (C) 2004-2013  The Emerge Desktop Development Team

  @attention Emerge Desktop is free software; you can redistribute it and/or
  modify  it under the terms of the GNU General Public License as published
  by the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.

  @attention Emerge Desktop is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  @attention You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  */

#define UNICODE
#define _WINGDI_

#include "../hgversion.h"
#include "../version.h"
#include "resource.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION COMMA_VERSION
 PRODUCTVERSION COMMA_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
 FILEFLAGS VS_FF_DEBUG
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "CompanyName", "The Emerge Desktop Development Team"
            VALUE "FileDescription", "emergeStyleEngine - Emerge Desktop graphics library"
            VALUE "FileVersion", POINT_VERSION
            VALUE "InternalName", "emergeStyleEngine"
            VALUE "LegalCopyright", "Copyright (C) 2004-2013"
            VALUE "OriginalFilename", "emergeStyleEngine.dll"
            VALUE "ProductName", "emergeStyleEngine"
            VALUE "ProductVersion", PRODUCT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

IDD_STYLEEDITOR DIALOGEX 0,0,CONFIG_WIDTH,CONFIG_HEIGHT
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Emerge Desktop Style Editor"
FONT 8, "MS Shell Dlg"
BEGIN
  PUSHBUTTON  "Load",IDC_LOAD,5,5,60,14
  PUSHBUTTON  "Save As",IDC_SAVEAS,70,5,60,14
  LTEXT "Current Style:",IDC_STATIC1,140,8,60,8
  LTEXT "",IDC_STYLENAME,200,8,100,8

	CONTROL		"MenuTree",IDC_PANELTREE,"SysTreeView32",
    TVS_HASBUTTONS|TVS_HASLINES|TVS_LINESATROOT|TVS_SHOWSELALWAYS|WS_BORDER|WS_TABSTOP,5,25,80,150

	GROUPBOX	"Opacity Settings",IDC_STATIC2,90,25,185,190,WS_GROUP
	LTEXT		"Active:",IDC_STATIC3,95,37,30,8
	CONTROL		"ActiveSlider",IDC_ACTIVESLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,170,35,80,15
	EDITTEXT	IDC_ACTIVEALPHA,250,36,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Inactive:",IDC_STATIC4,95,57,30,8
	CONTROL		"InactiveSlider",IDC_INACTIVESLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,150,55,100,15
	EDITTEXT	IDC_INACTIVEALPHA,250,56,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Background:",IDC_STATIC5,95,77,40,8
	CONTROL		"BackgroundSlider",IDC_BACKGROUNDSLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,150,75,100,15
	EDITTEXT	IDC_BACKGROUNDALPHA,250,76,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Menu:",IDC_STATIC6,95,97,30,8
	CONTROL		"MenuSlider",IDC_MENUSLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,170,95,80,15
	EDITTEXT	IDC_MENUALPHA,250,96,20,10,ES_AUTOHSCROLL
  LTEXT "Foreground:",IDC_STATIC7,95,117,40,8
	CONTROL		"ForegroundSlider",IDC_FOREGROUNDSLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,150,115,100,15
	EDITTEXT	IDC_FOREGROUNDALPHA,250,116,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Frame:",IDC_STATIC8,95,137,30,8
	CONTROL		"FrameSlider",IDC_FRAMESLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,150,135,100,15
	EDITTEXT	IDC_FRAMEALPHA,250,136,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Selected:",IDC_STATIC9,95,157,30,8
	CONTROL		"SelectedSlider",IDC_SELECTEDSLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,150,155,100,15
	EDITTEXT	IDC_SELECTEDALPHA,250,156,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Border:",IDC_STATIC10,95,177,30,8
	CONTROL		"BorderSlider",IDC_BORDERSLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,150,175,100,15
	EDITTEXT	IDC_BORDERALPHA,250,176,20,10,ES_AUTOHSCROLL|ES_NUMBER
  LTEXT "Text:",IDC_STATIC11,95,197,30,8
	CONTROL		"TextSlider",IDC_TEXTSLIDER,"msctls_trackbar32",TBS_NOTICKS|WS_TABSTOP,170,195,80,15
	EDITTEXT	IDC_TEXTALPHA,250,196,20,10,ES_AUTOHSCROLL|ES_NUMBER

	GROUPBOX	"Color Settings",IDC_STATIC12,90,25,185,190,WS_GROUP
  LTEXT "Background:",IDC_STATIC13,95,39,40,8
	PUSHBUTTON	"",IDC_BACKGROUNDCOLOUR,255,35,16,16,BS_BITMAP|BS_FLAT
  LTEXT "Foreground:",IDC_STATIC14,95,59,40,8
	PUSHBUTTON	"",IDC_FOREGROUNDCOLOUR,255,55,16,16,BS_BITMAP|BS_FLAT
  LTEXT "Selected:",IDC_STATIC15,95,79,40,8
	PUSHBUTTON	"",IDC_SELECTEDCOLOUR,255,75,16,16,BS_BITMAP|BS_FLAT
  LTEXT "Frame:",IDC_STATIC16,95,99,40,8
	PUSHBUTTON	"",IDC_FRAMECOLOUR,255,95,16,16,BS_BITMAP|BS_FLAT
  LTEXT "Font:",IDC_STATIC17,95,119,40,8
	PUSHBUTTON	"",IDC_FONTCOLOUR,255,115,16,16,BS_BITMAP|BS_FLAT
  LTEXT "Border:",IDC_STATIC18,95,139,40,8
	PUSHBUTTON	"",IDC_BORDERCOLOUR,255,135,16,16,BS_BITMAP|BS_FLAT

	GROUPBOX	"Miscellaneous Settings",IDC_STATIC26,90,25,185,190,WS_GROUP
  PUSHBUTTON  "Shadow",IDC_SHADOW,95,39,40,10,BS_AUTOCHECKBOX
  PUSHBUTTON  "Blur",IDC_BLUR,155,39,40,10,BS_AUTOCHECKBOX
  LTEXT "Padding:",IDC_STATIC19,210,39,30,8
	EDITTEXT	IDC_PADDING,240,37,30,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_PADDINGUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT,0,0,10,12
  LTEXT "Bevel:",IDC_STATIC20,95,60,40,8
	EDITTEXT	IDC_BEVEL,125,58,30,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_BEVELUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT,0,0,10,12
  LTEXT "Border:",IDC_STATIC21,210,60,30,8
	EDITTEXT	IDC_BORDER,240,58,30,12,ES_AUTOHSCROLL|ES_NUMBER
  CONTROL "",IDC_BORDERUPDOWN,UPDOWN_CLASS,UDS_AUTOBUDDY|UDS_SETBUDDYINT|UDS_ARROWKEYS|UDS_ALIGNRIGHT,0,0,10,12
	GROUPBOX	"Bevel Type",IDC_STATIC27,95,75,175,25,WS_GROUP
	CONTROL	"Flat",IDC_FLAT,"Button",BS_AUTORADIOBUTTON|WS_TABSTOP,105,85,40,10
	CONTROL	"Raised",IDC_RAISED,"Button",BS_AUTORADIOBUTTON|WS_TABSTOP,165,85,40,10
	CONTROL	"Sunken",IDC_SUNKEN,"Button",BS_AUTORADIOBUTTON|WS_TABSTOP,225,85,40,10

	GROUPBOX	"Gradient Settings",IDC_STATIC22,90,25,185,190,WS_GROUP
  LTEXT "Method:",IDC_STATIC23,95,37,30,8
	COMBOBOX	IDC_METHOD,125,35,80,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	PUSHBUTTON	"Interlaced",IDC_INTERLACED,215,37,45,10,BS_AUTOCHECKBOX
  LTEXT "From Color:",IDC_STATIC24,95,59,40,8
	PUSHBUTTON	"",IDC_FROMCOLOUR,105,70,16,16,BS_BITMAP|BS_FLAT
  PUSHBUTTON  "Switch",IDC_SWITCH,143,70,60,14
  LTEXT "To Color:",IDC_STATIC25,220,59,40,8
	PUSHBUTTON	"",IDC_TOCOLOUR,225,70,16,16,BS_BITMAP|BS_FLAT

  PUSHBUTTON  "Preview",IDC_PREVIEW,15,180,60,14
  PUSHBUTTON  "Defaults",IDC_DEFAULTS,15,200,60,14
END
