/*!
  @file emergeCore.rc
  @brief resource file for emergeCore
  @author The Emerge Desktop Development Team

  @attention This file is part of Emerge Desktop.
  @attention Copyright (C) 2004-2013  The Emerge Desktop Development Team

  @attention Emerge Desktop is free software; you can redistribute it and/or
  modify  it under the terms of the GNU General Public License as published
  by the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.

  @attention Emerge Desktop is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  @attention You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  */

#define UNICODE
#define _WINGDI_

#include "../hgversion.h"
#include "../version.h"
#include "resource.h"
#include "AliasEditor.dlg"
#include "ConfigPage.dlg"
#include "LaunchEditor.dlg"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION COMMA_VERSION
 PRODUCTVERSION COMMA_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
 FILEFLAGS VS_FF_DEBUG
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "CompanyName", "The Emerge Desktop Development Team"
            VALUE "FileDescription", "emergeCore - the core of the Emerge Desktop"
            VALUE "FileVersion", POINT_VERSION
            VALUE "InternalName", "emergeCore"
            VALUE "LegalCopyright", "Copyright (C) 2004-2013"
            VALUE "OriginalFilename", "emergeCore.exe"
            VALUE "ProductName", "emergeCore"
            VALUE "ProductVersion", PRODUCT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#ifdef __GNUC__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "emergeCore.exe.manifest"
#endif

IDI_DEFAULT	ICON	"../emergeIcons/emerge.ico"

IDD_SHELL DIALOGEX 0, 0, 191, 115
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Desktop Shell"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Shell:",IDC_STATIC,5,7,25,10
	COMBOBOX	IDC_SHELLITEM,35,5,151,150,CBS_DROPDOWNLIST|CBS_SORT|WS_VSCROLL|WS_TABSTOP

	PUSHBUTTON	"",IDC_ADDSHELL,5,22,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"",IDC_EDITSHELL,23,22,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"",IDC_DELSHELL,41,22,16,14,BS_ICON|BS_FLAT

	PUSHBUTTON	"",IDC_SAVESHELL,152,22,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"",IDC_ABORTSHELL,170,22,16,14,BS_ICON|BS_FLAT

	LTEXT		"Execute:",IDC_COMMANDTEXT,5,47,35,10
	EDITTEXT	IDC_SHELLCOMMAND,45,45,123,12,ES_AUTOHSCROLL
	PUSHBUTTON	"",IDC_BROWSESHELL,170,44,16,14,BS_ICON|BS_FLAT
	LTEXT		"Name:",IDC_NAMETEXT,5,63,35,10
	EDITTEXT	IDC_SHELLNAME,45,61,141,12,ES_AUTOHSCROLL

	CONTROL	"Show Startup Errors",IDC_STARTERROR,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,45,77,90,10

	PUSHBUTTON	"&OK",IDOK,5,95,70,14
	PUSHBUTTON	"&Cancel",IDCANCEL,116,95,70,14
END

IDD_THEMESELECT DIALOGEX 0, 0, 284, 50
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Theme Manager"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Theme:",IDC_STATIC,5,7,25,10
	COMBOBOX	IDC_THEMEITEM,35,5,151,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP

	PUSHBUTTON	"&Save",IDC_SAVETHEME,191,5,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"Save &As",IDC_SAVEAS,209,5,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"&Delete",IDC_DELTHEME,227,5,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"&Export",IDC_EXPORTTHEME,245,5,16,14,BS_ICON|BS_FLAT
	PUSHBUTTON	"&Import",IDC_IMPORTTHEME,263,5,16,14,BS_ICON|BS_FLAT

	PUSHBUTTON	"&OK",IDOK,5,30,70,14
	PUSHBUTTON	"&Cancel",IDCANCEL,207,30,70,14
END

IDD_THEMESAVE DIALOGEX 0, 0, 191, 50
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Save Theme As..."
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Theme:",IDC_STATIC,5,7,25,10
	EDITTEXT	IDC_THEMEITEM,35,5,151,12,ES_AUTOHSCROLL|WS_TABSTOP

	PUSHBUTTON	"&OK",IDOK,5,30,70,14
	PUSHBUTTON	"&Cancel",IDCANCEL,116,30,70,14
END

IDD_CONFIG DIALOGEX 0, 0, CONFIG_WIDTH, CONFIG_HEIGHT
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "emergeCore Configuration"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_WELCOME DIALOGEX 0,0,260,140
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Welcome to..."
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "",IDC_LOGO,"Static",SS_BITMAP,0,0,260,60

	LTEXT		"Here are some sources of information to get you started with Emerge Desktop:",IDC_STATIC,5,65,250,10

	LTEXT		"Offline Help",IDC_HELPLINK,5,80,37,10
	LTEXT		"Online Tutorial",IDC_TUTORIALLINK,5,90,45,10
	LTEXT		"Emerge Desktop Website",IDC_FORUMLINK,5,100,81,10
	//LTEXT		"Wiki",IDC_WIKILINK,5,100,15,10

	CONTROL	"Show on startup",IDC_SHOWWELCOME,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,5,122,80,10

  PUSHBUTTON  "&OK",IDOK,95,120,70,14
END
