//----  --------------------------------------------------------------------------------------------------------
//
//  This file is part of Emerge Desktop.
//  Copyright (C) 2004-2012  The Emerge Desktop Development Team
//
//  Emerge Desktop is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 3 of the License, or
//  (at your option) any later version.
//
//  Emerge Desktop is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
//----  --------------------------------------------------------------------------------------------------------

#define UNICODE
#define _WINGDI_

#include "resource.h"
#include "../version.h"
#include "../hgversion.h"
#include "ConfigPage.dlg"

VS_VERSION_INFO VERSIONINFO
FILEVERSION COMMA_VERSION
PRODUCTVERSION COMMA_VERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS VS_FF_DEBUG
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000004B0"
BEGIN
VALUE "CompanyName", "The Emerge Desktop Development Team"
VALUE "FileDescription", "emergeWorkspace - desktop applet for Emerge Desktop"
VALUE "FileVersion", POINT_VERSION
VALUE "InternalName", "emergeWorkspace"
VALUE "LegalCopyright", "Copyright (C) 2004-2012"
VALUE "OriginalFilename", "emergeWorkspace.exe"
VALUE "ProductName", "emergeWorkspace"
VALUE "ProductVersion", PRODUCT_VERSION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0, 1200
END
END

#ifdef __GNUC__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "emergeWorkspace.exe.manifest"
#endif

IDI_DEFAULT	ICON	"../emergeIcons/emerge.ico"

IDD_SETTINGS DIALOGEX 0, 0, CONFIG_WIDTH, CONFIG_HEIGHT
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "emergeWorkspace Configuration"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_ITEMEDIT DIALOGEX 0, 0, 205, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Menu Item"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT		"Type:",IDC_TYPETEXT,5,7,25,8
COMBOBOX	IDC_ITEMTYPE,65,5,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
LTEXT		"Value:",IDC_VALUETEXT,5,22,50,8
EDITTEXT	IDC_ITEMVALUE,65,20,117,12,ES_AUTOHSCROLL
PUSHBUTTON	"",IDC_ITEMBROWSE,184,19,16,14,BS_ICON|BS_FLAT
COMBOBOX	IDC_ITEMCOMMAND,65,20,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
COMBOBOX	IDC_ITEMSPECIALFOLDERS,65,20,135,150,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
LTEXT       "Working Directory:",IDC_WORKINGDIRTEXT,5,38,60,8
EDITTEXT    IDC_WORKINGDIR,65,36,117,12,ES_AUTOHSCROLL
PUSHBUTTON  "",IDC_DIRBROWSE,184,35,16,14,BS_ICON|BS_FLAT
EDITTEXT    IDC_COMMANDARG,65,36,135,12,ES_AUTOHSCROLL
LTEXT		"Name:",IDC_NAMETEXT,5,54,25,8
EDITTEXT	IDC_ITEMNAME,65,52,135,12,ES_AUTOHSCROLL

PUSHBUTTON	"&OK",IDOK,5,75,70,14
PUSHBUTTON	"&Cancel",IDCANCEL,130,75,70,14
END
